*.class
*.log
*.ctxt
.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

# --- NODE / REACT / VITE ---
node_modules/
dist/
build/

# Vite cache
.vite/

# Optional eslint cache
.eslintcache

# Local env files
.env
.env.*
!.env.example

# Firebase (em local dev)
.firebaserc
.firebase/
.firebase-debug.log
.firestore/
.storage/
emulators/
firebase-debug.log*

# IDEs / SO
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Log/output/debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage reports
coverage/

# Typescript cache
*.tsbuildinfo

# Optional: Mac/Linux system files
*.swp
